<h1>Editing rent case status</h1>

<%= render "form", rent_case_status: @rent_case_status %>

<br>

<div>
  <%= link_to "Show this rent case status", @rent_case_status %> |
  <%= link_to "Back to rent case statuses", rent_case_statuses_path %>
</div>
