<h1>Добро пожаловать в наш сервис, <%= @receiver.name %>!</h1>
<p>Вы успешно зарегистрировались.</p>
<p>Ваше имя пользователя: <%= @receiver.email %>.</p>
<p>
    Чтобы войти на сайт, просто перейдите по этой ссылке: <%= link_to 'Войти', @url %>.
</p>
<p>Спасибо за регистрацию и хорошего дня!</p>
__________
<p>&#174; &#169; DIZAUTO</p>