<h1>Editing supply status</h1>

<%= render "form", supply_status: @supply_status %>

<br>

<div>
  <%= link_to "Show this supply status", @supply_status %> |
  <%= link_to "Back to supply statuses", supply_statuses_path %>
</div>
