<div class="mb-3">
  <h1 class="h3 d-inline align-middle">Редактирование</h1>
</div>

<%= render "form", characteristic: @characteristic %>


  <%# link_to "Show this characteristic", @characteristic %> 
  <%# link_to "Back to characteristics", characteristics_path %>
