<p style="color: green"><%= notice %></p>

<h1>Characteristics</h1>

<div id="characteristics">
    <%= render @characteristics %>
</div>

<%# link_to "New characteristic", new_characteristic_path %>
