<h1>Editing loss item</h1>

<%= render "form", loss_item: @loss_item %>

<br>

<div>
  <%= link_to "Show this loss item", @loss_item %> |
  <%= link_to "Back to loss items", loss_items_path %>
</div>
