<h1>Editing loss status</h1>

<%= render "form", loss_status: @loss_status %>

<br>

<div>
  <%= link_to "Show this loss status", @loss_status %> |
  <%= link_to "Back to loss statuses", loss_statuses_path %>
</div>
