<div id="<%= dom_id action %>">
  <p>
    <strong>Action name:</strong>
    <%= action.action_name %>
  </p>

  <p>
    <strong>Action params:</strong>
    <%= action.action_params %>
  </p>

  <p>
    <strong>Trigger:</strong>
    <%= action.trigger_id %>
  </p>

</div>
