<%= turbo_stream.replace @wraptarget do %>

    <div class="p-0 col-md-5 action_params" data-action-target='action_params_wrap' id='<%= @wraptarget%>' >
        <%= select_tag @targetname, options_for_select(@collection), 
                    {multiple: true, include_blank: true, data: {controller: "slimselect", action_target: "select" }}  %>
    </div>

<% end %>