<h1>New stock transfer status</h1>

<%= render "form", stock_transfer_status: @stock_transfer_status %>

<br>

<div>
  <%= link_to "Back to stock transfer statuses", stock_transfer_statuses_path %>
</div>
