<h1>Editing return status</h1>

<%= render "form", return_status: @return_status %>

<br>

<div>
  <%= link_to "Show this return status", @return_status %> |
  <%= link_to "Back to return statuses", return_statuses_path %>
</div>
