<h1>Editing enter item</h1>

<%= render "form", enter_item: @enter_item %>

<br>

<div>
  <%= link_to "Show this enter item", @enter_item %> |
  <%= link_to "Back to enter items", enter_items_path %>
</div>
