<%= link_to  '#offcanvasFilter', class: 'btn btn-outline-primary me-2 position-relative', data: { bs_toggle: 'offcanvas'} do %>
    <span><i data-feather='sliders'></i></span>
    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle <% unless params[:q].present?%>d-none<% end %>">
    <span class="visually-hidden"></span>
    </span>
<% end %>
