<%= link_to  '#offcanvasFilter', class: 'btn btn-outline-primary me-2 position-relative', data: { bs_toggle: 'offcanvas'} do %>
    <%= tag.span slider_vertical %>
    <span class="<%=informer_class%> <% unless params[:q].present?%>d-none<% end %>" id = "filter-informer">
    <span class="visually-hidden"></span>
    </span>
<% end %>
