<%= turbo_frame_tag "offcanvasWrap", class: "offcanvas offcanvas-end w-50", tabindex: "-1", "aria-labelledby": "offcanvasRightLabel",
data: { controller: "offcanvas", action: "turbo:frame-load->offcanvas#show turbo:submit-end->offcanvas#hide", "bs-scroll":"true" } do %>
  <div class="offcanvas-header pb-0">
    <h5 class="offcanvas-title" id="offcanvasRightLabel"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <%= turbo_frame_tag "offcanvas_wrap" %>
  </div>
<% end %>