<div class="offcanvas offcanvas-start w-75" data-bs-scroll="true" tabindex="-1" id="offcanvasHistory" aria-labelledby="offcanvasRightLabel" data-controller="offcanvas" data-action="turbo:frame-load->offcanvas#show turbo:submit-end->offcanvas#hide">
  <div class="offcanvas-header pb-0">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">История</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <%= turbo_frame_tag "offcanvas_history" %>
  </div>
</div>