<div class="col-sm-12 col-md-5">
    <div class="dataTables_info" id="datatables-orders_info" role="status" aria-live="polite"> <%= page_entries_info f %></div>
</div>
<div class="col-sm-12 col-md-7">
    <div class="dataTables_paginate paging_simple_numbers" id="datatables-products_paginate">
        <%= bs_will_paginate f %>
    </div>
</div>