<div class="input-group">
    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-print"></i></button>
    <ul class="dropdown-menu">
        <% templates.each do |templ|%>
            <%= link_to "#{templ.title}", polymorphic_path([:print, object], templ_id: templ), class: "dropdown-item" %>
        <% end %>
    </ul>
</div>