<h1>Editing stock transfer item</h1>

<%= render "form", stock_transfer_item: @stock_transfer_item %>

<br>

<div>
  <%= link_to "Show this stock transfer item", @stock_transfer_item %> |
  <%= link_to "Back to stock transfer items", stock_transfer_items_path %>
</div>
