<%= form_with(model: [@order, delivery]) do |form| %>
  <%= render 'shared/errors', object: delivery %>

  <%= render 'deliveries/form_data', f: form , order: @order%>

  <div>
    <%= form.submit %>
  </div>
<% end %>
