
<div class="col-10">
<%= f.select :delivery_type_id, options_for_select(DeliveryType.all.map{ |d| [d.title_price, d.id] }, selected.present? ? selected : f.object.delivery_type_id), 
                            {include_blank: false, prompt:'delivery_type'}, 
                            {data: {
                                controller: 'slimselect',
                                nested_url:  delivery_orders_path
                                }
                            }  %>
</div>

<div class="col-1 p-0">
<%= f.text_field :price, class: 'form-control rounded-0 disabled p-1 text-center', value: selected.present? ? selected&.price : f.object.price %>
</div>

