<div class="col-10">
    <select data-controller="slimselect" 
            data-nested-url="/orders/delivery"
            data-action="change->calculate#recalculate"
            name="order[delivery_attributes][delivery_type_id]" 
            id="order_delivery_attributes_delivery_type_id">
            <option>Способ доставки</option>
        <% DeliveryType.all.each do |delivery_type| %>
            <option value="<%= delivery_type.id%>" <%= 'selected=selected' if delivery_type.id == selected.id %>>
                <%= delivery_type.title_price %>
            </option>
        <% end %>
    </select>
</div>
<div class="col-1 p-0">
<input class="form-control rounded-0 disabled p-1 text-center" 
        min="0" 
        value="<%= selected&.price %>" 
        type="number" 
        name="order[delivery_attributes][price]" 
        id="order_delivery_attributes_price"
        data-action="change->calculate#recalculate"
        data-calculate-target="delivery">
</div>