<div id="<%= dom_id f.object %>" class="nested-form-wrapper row" data-new-record="<%= f.object.new_record? %>">

    <%= render "client_companies/form_data", f: f, parent: 'company' %>
    <%= div_remove_nested(f)%>
</div>