<h1>Editing enter status</h1>

<%= render "form", enter_status: @enter_status %>

<br>

<div>
  <%= link_to "Show this enter status", @enter_status %> |
  <%= link_to "Back to enter statuses", enter_statuses_path %>
</div>
