<h1>Editing inventory status</h1>

<%= render "form", inventory_status: @inventory_status %>

<br>

<div>
  <%= link_to "Show this inventory status", @inventory_status %> |
  <%= link_to "Back to inventory statuses", inventory_statuses_path %>
</div>
