<div id="<%= dom_id client_company %>">
  <p>
    <strong>Client:</strong>
    <%= client_company.client_id %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= client_company.company_id %>
  </p>

</div>
