<%= form_with(model: client_company) do |f| %>
    <%= render 'shared/errors', object: client_company %>

    <%= render 'form_data', f: f, parent: nil %>

  <div>
    <%= f.submit %>
  </div>
<% end %>
