<div class="col-md-10">
    <%= f.select :client_id, Client.collection_for_select(f.object.client_id), {include_blank: true},
    { class: "p-1", data: {controller: 'slimselect', search_url: '/clients/search'}} %>
</div>
<%= f.hidden_field :company_id %>
<%= f.hidden_field :id %>
