<h1>Editing return item</h1>

<%= render "form", return_item: @return_item %>

<br>

<div>
  <%= link_to "Show this return item", @return_item %> |
  <%= link_to "Back to return items", return_items_path %>
</div>
