<%= turbo_stream.update @incase_import do %>
    <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span role="status">Running...</span>
    </button>
<% end %>
