<%# turbo_stream.update @target do %>
    <%# options_for_select @characteristics %>
<%= turbo_stream.replace @target do %>
    <div class="mb-3 col-md-5 wrap-characteristic" data-prodprop-target= "characteristicwrap" id="<%= @target.to_s%>">
        <label class="visually-hidden" for="prodprop_characteristic_id"><%= t('characteristic_one')%></label>
        <%= select_tag 'prodprop[characteristic_id]', options_for_select(@characteristics), 
            data: { prodprop_target: 'characteristic', slimselect_target: "characteristic"} %>
    </div>
<% end %>