<%# turbo_frame_tag "modal" do %>
    <p>Формируем файл для печати</p>
    <p>Дождитесь выполнения задачи</p>
    <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span role="status">Running...</span>
    </button>
<%# end %>
