<tr id="<%= dom_id warehouse %>">
    <td><b><%= warehouse.id%></b></td>
    <td><%= warehouse.title %></td>
    <td class="text-nowrap"><%= render 'shared/edit_delete_link', object: warehouse %></td>
</tr>