                <% @data_group_by_unumber.each_with_index do |(k,v), index| %>
                <label>Номер дела - <%= k %></label>
                <% headers = v.map{|l| l.keys}.flatten.uniq %>
                
                <div class="table-responsive">
                    <table class="table table-primary">
                        <thead>
                            <tr>
                                <% headers.each do |h|%>
                                    <% if h != "unumber"%>
                                        <th scope="col"><%= h%></th>
                                    <% end%>
                                <% end%>
                            </tr>
                        </thead>
                        <tbody>
                        <% v.each do |line| %>
                            <tr class="<%= line %>">
                            <% line.each do |k,v| %>
                                <% if k != "unumber"%>
                                    <td scope="row"><%= v %></td>
                                <% end %>
                            <%end%>
                            </tr>
                        <%end%>
                        </tbody>
                    </table>
                </div>
                <%end%>
