<div class="mb-3">
  <h1 class="h3 d-inline align-middle">Редактирование</h1>
</div>

<%= render "form", export: @export %>

<%# link_to "Show this export", @export %>
<%# link_to "Back to exports", exports_path %>
