<html>
  <body>
<p>Добрый день!</p>
<%= yield %>

<p>____________</p>
<p>С уважением,</p>
<p>Представитель страховой компании</p>
<p>Алиев Роман</p>
<p>8(968)529-95-65</p>
<p>http://dizauto.ru/</p> 
</body>
</html>